Wits/Connected Services/WitsService/PlayerManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PlayerManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IConnectedUsers_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IChatManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WitsClasses.Contracts" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerManager_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetPlayerByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByUser" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetPlayerByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetPlayerByUserAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByUserAndPassword" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetPlayerByUserAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByUserAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetQuestionByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByID" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetQuestionByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_UpdateProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_UpdateProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_UpdateCelebration_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCelebration" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_UpdateCelebration_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCelebrationResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_AddConnectedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddConnectedUser" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_AddConnectedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddConnectedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_GetConnectedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedUsers" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_GetConnectedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_PrintConnectedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintConnectedUsers" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_PrintConnectedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintConnectedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_RemoveConnectedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveConnectedUser" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_RemoveConnectedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveConnectedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_GetCurrentlyLoggedInUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentlyLoggedInUser" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_GetCurrentlyLoggedInUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentlyLoggedInUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_GetConnectedFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedFriends" />
  </wsdl:message>
  <wsdl:message name="IConnectedUsers_GetConnectedFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetScores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScores" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetScores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoresResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_ModifyScore_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyScore" />
  </wsdl:message>
  <wsdl:message name="IGameService_ModifyScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetPlayerScore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerScore" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetPlayerScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetGameLeader_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameLeader" />
  </wsdl:message>
  <wsdl:message name="IGameService_GetGameLeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameLeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IChatManager_SendNewMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNewMessage" />
  </wsdl:message>
  <wsdl:message name="IChatManager_RegisterUserContext_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserContext" />
  </wsdl:message>
  <wsdl:message name="IChatManager_UnregisterUserContext_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterUserContext" />
  </wsdl:message>
  <wsdl:message name="IChatManager_UpdateChat_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateChat" />
  </wsdl:message>
  <wsdl:message name="IChatManager_UpdateChat_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateChatResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayerManager">
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/AddPlayer" message="tns:IPlayerManager_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/AddPlayerResponse" message="tns:IPlayerManager_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/GetPlayerByUser" message="tns:IPlayerManager_GetPlayerByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/GetPlayerByUserResponse" message="tns:IPlayerManager_GetPlayerByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByUserAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/GetPlayerByUserAndPassword" message="tns:IPlayerManager_GetPlayerByUserAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/GetPlayerByUserAndPasswordResponse" message="tns:IPlayerManager_GetPlayerByUserAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/GetQuestionByID" message="tns:IPlayerManager_GetQuestionByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/GetQuestionByIDResponse" message="tns:IPlayerManager_GetQuestionByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/UpdateProfilePicture" message="tns:IPlayerManager_UpdateProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/UpdateProfilePictureResponse" message="tns:IPlayerManager_UpdateProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCelebration">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/UpdateCelebration" message="tns:IPlayerManager_UpdateCelebration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/UpdateCelebrationResponse" message="tns:IPlayerManager_UpdateCelebration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IConnectedUsers">
    <wsdl:operation name="AddConnectedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectedUsers/AddConnectedUser" message="tns:IConnectedUsers_AddConnectedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectedUsers/AddConnectedUserResponse" message="tns:IConnectedUsers_AddConnectedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectedUsers/GetConnectedUsers" message="tns:IConnectedUsers_GetConnectedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectedUsers/GetConnectedUsersResponse" message="tns:IConnectedUsers_GetConnectedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintConnectedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectedUsers/PrintConnectedUsers" message="tns:IConnectedUsers_PrintConnectedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectedUsers/PrintConnectedUsersResponse" message="tns:IConnectedUsers_PrintConnectedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveConnectedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectedUsers/RemoveConnectedUser" message="tns:IConnectedUsers_RemoveConnectedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectedUsers/RemoveConnectedUserResponse" message="tns:IConnectedUsers_RemoveConnectedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyLoggedInUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectedUsers/GetCurrentlyLoggedInUser" message="tns:IConnectedUsers_GetCurrentlyLoggedInUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectedUsers/GetCurrentlyLoggedInUserResponse" message="tns:IConnectedUsers_GetCurrentlyLoggedInUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectedFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectedUsers/GetConnectedFriends" message="tns:IConnectedUsers_GetConnectedFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectedUsers/GetConnectedFriendsResponse" message="tns:IConnectedUsers_GetConnectedFriends_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/CreateGame" message="tns:IGameService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/CreateGameResponse" message="tns:IGameService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/JoinGame" message="tns:IGameService_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/JoinGameResponse" message="tns:IGameService_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetScores" message="tns:IGameService_GetScores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetScoresResponse" message="tns:IGameService_GetScores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ModifyScore" message="tns:IGameService_ModifyScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ModifyScoreResponse" message="tns:IGameService_ModifyScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetPlayerScore" message="tns:IGameService_GetPlayerScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetPlayerScoreResponse" message="tns:IGameService_GetPlayerScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameLeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GetGameLeader" message="tns:IGameService_GetGameLeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GetGameLeaderResponse" message="tns:IGameService_GetGameLeader_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IChatManager">
    <wsdl:operation name="SendNewMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/SendNewMessage" message="tns:IChatManager_SendNewMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUserContext">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/RegisterUserContext" message="tns:IChatManager_RegisterUserContext_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterUserContext">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/UnregisterUserContext" message="tns:IChatManager_UnregisterUserContext_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChat">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/UpdateChat" message="tns:IChatManager_UpdateChat_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/UpdateChatResponse" message="tns:IChatManager_UpdateChat_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlayerManager" type="tns:IPlayerManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/AddPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByUser">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetPlayerByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByUserAndPassword">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetPlayerByUserAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByID">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetQuestionByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilePicture">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/UpdateProfilePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCelebration">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/UpdateCelebration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IConnectedUsers" type="tns:IConnectedUsers">
    <wsp:PolicyReference URI="#NetTcpBinding_IConnectedUsers_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddConnectedUser">
      <soap12:operation soapAction="http://tempuri.org/IConnectedUsers/AddConnectedUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUsers">
      <soap12:operation soapAction="http://tempuri.org/IConnectedUsers/GetConnectedUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintConnectedUsers">
      <soap12:operation soapAction="http://tempuri.org/IConnectedUsers/PrintConnectedUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveConnectedUser">
      <soap12:operation soapAction="http://tempuri.org/IConnectedUsers/RemoveConnectedUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyLoggedInUser">
      <soap12:operation soapAction="http://tempuri.org/IConnectedUsers/GetCurrentlyLoggedInUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedFriends">
      <soap12:operation soapAction="http://tempuri.org/IConnectedUsers/GetConnectedFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <soap12:operation soapAction="http://tempuri.org/IGameService/GetScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyScore">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ModifyScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerScore">
      <soap12:operation soapAction="http://tempuri.org/IGameService/GetPlayerScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameLeader">
      <soap12:operation soapAction="http://tempuri.org/IGameService/GetGameLeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IChatManager" type="tns:IChatManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IChatManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendNewMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/SendNewMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterUserContext">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/RegisterUserContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnregisterUserContext">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/UnregisterUserContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateChat">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/UpdateChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlayerManager">
    <wsdl:port name="NetTcpBinding_IPlayerManager" binding="tns:NetTcpBinding_IPlayerManager">
      <soap12:address location="net.tcp://localhost:8081/PlayerManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/PlayerManager</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IConnectedUsers" binding="tns:NetTcpBinding_IConnectedUsers">
      <soap12:address location="net.tcp://localhost:8081/ConnectedUsers" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/ConnectedUsers</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8081/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IChatManager" binding="tns:NetTcpBinding_IChatManager">
      <soap12:address location="net.tcp://localhost:8081/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>